<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" 
     th:href="@{/css/form.css}" />
    
<meta charset="ISO-8859-1">
<title>User Register form</title>
</head>
<body>
	<div align="center">
	<h1>User Registration Form</h1>
		<form action="#" th:action="@{/register}" method="post" th:object="${user}">
			<label> Full Name :</label>
			<input type="text" th:field="*{name}"><br/>
			
			<label> E-mail :</label>
			<input type="email" th:field="*{email}"/><br/>
			
			<label> Password :</label>
			<input type="password" th:field="*{password}"/><br/>
			
			<label> Gender :</label>
			<input type="radio" th:field="*{gender}" value="Male"/> Male
			<input type="radio" th:field="*{gender}" value="Female"/> Female<br/>
			
			<label> Birth Date :</label>
			<input type="date" th:field="*{birthDate}"/><br/>
			
			<label> Married ?</label>
			<input type="checkbox" th:field="*{married}"/><br/>
			
			<label> Profession :</label>
			<select th:field="*{profession}">
			<option  th:each="prof : ${T(de.tekup.vue.models.dto.Profession).values()}"
			th:value="${prof.displayValue}" th:text="${prof}">
			</option>
			</select><br/>
			
			<label> Note :</label>
			<textarea rows="5" cols="25" th:field="*{note}"></textarea><br/>
			
			<button type="submit">Register</button>
		</form>
	</div>
</body>
</html>